section .carrusel {
    margin-top: 80px;

    div .container.text-center {
        div .row {
            div .xs-col-12 .sm-col-12 .md-col-12 .lg-col-12 .xl-col-12 .xxl-col-12 {
                div .carousel.slide.carousel-fade {
                    div .carousel-inner {
                        div .carousel-item.active {
                            height: fit-content;
                            width: fit-content;
                            justify-items: center;
                        }

                        div .carousel-item {
                            height: fit-content;
                            width: fit-content;
                            justify-items: center;
                        }

                        div .carousel-item {
                            height: fit-content;
                            width: fit-content;
                            justify-items: center;
                        }

                    }
                }
            }
        }
    }
}

section .container {
    div .row {
        div .col-xs-12 .col-sm-12 .col-md-12 .col-lg-12 .col-xl-12 .col-xxl-12 {
            h2 .title-discografia {
                text-align: center;
                color: $font-color;
                margin: 20px 20px 20px;
            }
        }
    }

    div .row {
        div .col-xs-12 .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6 .col-xxl-6 {
            .iframe {
                width: 100%;
                height: 352;
            }
        }

        div .col-xs-12 .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6 .col-xxl-6 {
            .iframe {
                width: 100%;
                height: 352;
            }
        }
    }
}

section .container {
    div .row {
        div .col-xs-12 .col-sm-12 .col-lg-12 .col-xl-6 .col-xxl-6 {
            h3 .title_galeria {
                color: $font-color;
                text-align: center;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            iframe {
                width: 560;
                height: 315;
            }

            div .col-xs-12 .col-sm-12 .col-lg-12 .col-xl-6 .col-xxl-6 {
                h3 .title_galeria {
                    color: $font-color;
                    text-align: center;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                iframe {
                    width: 560;
                    height: 315;
                }
            }
        }
    }

    div .row {
        div .col-xs-12 .col-sm-12 .col-lg-12 .col-xl-6 .col-xxl-6 {
            h3 .title_galeria {
                color: $font-color;
                text-align: center;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            iframe {
                width: 560;
                height: 315;
            }

            div .col-xs-12 .col-sm-12 .col-lg-12 .col-xl-6 .col-xxl-6 {
                h3 .title_galeria {
                    color: $font-color;
                    text-align: center;
                    font-weight: 500;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                iframe {
                    width: 560;
                    height: 315;
                }
            }
        }
    }
}

section .container {
    h2 .encabezado {
        text-align: center;
        color: $font-color;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    div .row {
        div .col-xs-12 .col-sm-12 .col-md-6 .col-lg-6 .col-xl-3 .col-xxl-3 {
            div .card {
                background-color: $card-bg;

                h4 .card-title {
                    text-align: center;
                    color: $font-color;
                }

                div .card {
                    img .flyer {
                        width: auto;
                        height: auto;
                    }

                    div .card-body {
                        .card-title a {
                            text-align: center;
                            color: $font-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}